<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Found Keywords</title>
    <link rel="stylesheet" href="{{url_for('static', filename='after.css')}}">
</head>
<body>
    <h1>Found Keywords</h1>
    <ul>
        {% for keyword in data %}
            <li>{{ keyword }}</li>
        {% endfor %}
    </ul>
    <div>
        <a href="/">Go back</a>
    </div>
    
</body>
</html>
